/*	HEADER	*/

.header
{
	position:fixed;
	z-index:20;
	left:0px;top:0px;
	height: 120px;
	color:white;
	width:100%;
	/*background:rgba(0,0,0,0.7);* Add background to understand height and width*/

}


.header h1{
	position: fixed;
	width:40%;
	font-family: MyWebFont;
	left:25px;
	top:20px;
	font-size: 36px;

}
.nav
{
	position:fixed;
	
	top:0px;
	right: 50px;
	width:500px;

	height: 40px;
	color:white;
	
}
.list
{
float:left;
width:20%;
font-family: MyWebFont;
text-align: center;
font-size: 1.2em;
height: 100%;
padding-top: 30px;
}

.list:hover
{
	color:yellow;
	cursor: pointer;
}

.active
{
	border-bottom: 2px solid yellow;
	color:yellow;

}
	
/*	BOTTOM IMAGES */
.cornerimg
{
width:300px;height:300px;position:fixed;z-index:20;
background-position: 50% 50%;
background-repeat: no-repeat;
display:none;
}


